
.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; 
}

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

#main-button{
    color: white;
    background-color: #405DF5 ;
}

#cancel-button{
    color:#405DF5;
    background-color: white;
    border-color: #405DF5;
}

#phone-number{
    border-radius: 20px;
    background-color: #E4EAF6;
    width: 450px;
    height: 40px;
}

#phone-number span{
   padding-top: 12px;
}

#signin-form h6 , #signin-form h2{
    padding: 0 0 0 0;
}

#signin-form h5{
    padding: 0 20px 0 20px;
}

#input-name{
    margin-bottom: 0px;
}

#input-phone{
    margin-bottom: 0px;
}



