/*dieuduong__top*/

.coverDieuDuong{
  position: relative;
  width: 1518px;
  height: 600px;
  }
  
  .coverDieuDuong img{
    position: absolute;
    height: 500px;

    right: 0px;
    top: 120px;
  }
  
  .textDieuDuong{
    position: absolute;
    width: 454px;
    height: 104px;
    left: 50px;
    top: 150px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
  }
  
  .textChamSoc{
    position: absolute;
    width: 430px;
    height: 58px;
    left: 50px;
    top: 230px;
    
    font-family: Montserrat;
    font-weight: 200;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
  }
  
  .gachduoiDieuDuong{
    position: absolute;
    width: 360px;
    height: 8px;
    left: 50px;
    top: 350px;
    
    background: #405DF5;
  }
  
  .textGiaDieuDuong{
    position: absolute;
    width: 360px;
    height: 60px;
    left: 50px;
    top: 450px;
    
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    
    color: #405DF5;
  }

  .textKhamTaiNha{
    position: absolute;
    width: 320px;
    height: 58px;
    left: 70px;
    top: 415px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    text-transform: uppercase;

  }

  .buttonHenKham_Dieuduong{
    position: absolute;
    left: 50px;
    top: -80px;
  
    color: black;
    text-align: center;
    font-size: 15px;
  }
  
  /*dieuduong__top*/

  /*dieuduong__content*/
  .textDoiNguDieuDuong{
    position: relative;
  width: 850px;
  height: 72px;
  left: 25px;
  top: 30px;
  
  font-weight: bold;
  font-family: Roboto;
  
  font-size: 40px;
  }
  
  .gachduoiKQ{
    position: relative;
    width: 830px;
    height: 8px;
    left: 25px;
    top: 20px;
    
    background: #405DF5;
  }
  
  .chamsocbeyeu{
    position: absolute;
    height: 500px;
    left: 150px;
    top: 100px;
  }
  
  .chamsocvetthuong{
  position: absolute;
  height: 900px;
  left: -20px;
  top: 100px;
  }
  
  .card-header{
    font-family: Roboto;
    font-weight: 500;
    font-size: 28px;
    line-height: normal;
    font-weight: bold;
  }

.card-img-top{
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
}

.row .col .card{
  position: relative;
  width: 500px;
  height: 700px;
}

#dieuduong__content{
  overflow: hidden;
}